# Deploys code updates to my personal site on push to the master branch

name: Deploy on AEM
on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/checkout@v2
        with:
          java-version: 11
          server-id: github
          settings-path: ${{ github.workspace }}
      - name: Build and Deploy
        run: mvn install -B -s $GITHUB_WORKSPACE/settings.xml
